<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'styles/stylesheets10.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body style="background: url({% static 'images/indexpage.jpg' %}); background-size: cover; background-repeat: no-repeat;position: center">
<header>
        <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#"><h2>PU hostels</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/myapp/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/myapp/aboutpage">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/myapp/adminlogin">Administrator</a></li>
                <li><a class="dropdown-item" href="#">Student</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
<main>
<div class="container">
    <div class="row admlog">
        <div class="col adm">
            <h1>Student</h1>
            <form action="/myapp/StudentSignin" method="post">
                {% csrf_token %}
                <div class="textbox">
                    <i class="far fa-user"></i>
                    <input type="text" name="uname" placeholder="username">
                </div>
                <div class="textbox">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-success btn-lg">login</button>
                <button type="reset" class="btn btn-dark btn-lg">cancel</button>
                <p style="font-size: 20px; color: white; text-align: center">{{ invalid }}</p>
                <p style="font-size: 20px; color: white; text-align: center">{{ admin }}</p>
                <p style="font-size: 20px; color: white; text-align: center">{{ wrong }}</p>
            </form>
        </div>
        <div class="col adm">
            <p>Not</p>
            <p>registered</p>
            <p>yet??</p>
            <p><a href="/myapp/studentregister">Click here to register</a></p>
        </div>

    </div>
</div>
</main>
<footer class="page-footer font-small blue pt-4 foot">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase">Pondicherry central university Hostel</h5>
        <p>Our aim is to provide good atmoshere for students to study.</p>
        <p>We will be there to guide you to success. be our hostel inmate enjoy your campuus life. </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-uppercase">Connect with  Us On</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#" style="color: deepskyblue"><i class="fab fa-twitter-square"></i> Twitter</a>
          </li>
          <li>
            <a href="#" style="color: white"><i class="fab fa-whatsapp"></i>Whatsapp</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-uppercase">For more queries contact</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#" style="color: white">+91 9123547896</a>
          </li>
          <li>
            <a href="#" style="color: white">+91 8123547895</a>

        </ul>

      </div>
    </div>

  </div>
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#">PU UniversityHostrel.in</a>
  </div>
</footer>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>